body {
    width: 100%;
}

.pre-header {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.test {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}
img {
    visibility: visible;
}
